/* CSS Modifies */

/* custom buttons */
.custom-btn-01{
    padding: 13px 30px;
}

.custom-btn-02{
    letter-spacing: 3px;
    font-size: 16px !important;
    padding: 12px 25px;
}

/* custom menu width */
.custom-navbar-width{
    width: calc(100% - 121px);
}

/* custom carousel height */
.custom-carosuel-height{
    height: 80vh;
}

.custom-carosuel-height > img{
    height: 100%;
    object-fit: cover;
}

/* custom font size */
.custom-font-size-01{
    font-size: 80px !important;
}

.custom-font-size-02{
    font-size: 60px !important;
}

.custom-font-size-03{
    font-size: 50px !important;
}

/* custom carousel caption */
.carousel-caption{
    bottom: 17.5%;
    transform: translateY(-50%);
}

/* custom card info */
.custom-card-info-01 {
    padding: 0 25px !important;
}

/* custom popular course title */
.custom-popular-course-title{
    padding: 100px 0 50px 0;
}

.custom-popular-course-title > h2{
    font-size: 50px !important;
}




























/* -------------------------------------
        Responsive Breakpoints 
--------------------------------------*/
/* lg device */
@media only screen and (max-width: 1200px) {
    
}
/* lg-md device */
@media only screen and (max-width: 1023px){
    
}
/* md device */
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .custom-navbar-width{
        width: 100%;
    }

    .custom-btn-01{
        width: 100%;
    }

    .carousel-caption{
        bottom: 3%;
    }

    .custom-popular-course-title > h2{
        width: 100% !important;
    }

    .custom-popular-course-title > p{
        width: 100% !important;
    }
}
/* sm device */
@media only screen and (max-width: 767px){
    .custom-navbar-width{
        width: 100%;
    }

    .custom-btn-01{
        width: 100%;
    }
    
    .carousel-caption{
        bottom: 0;
    }

    .custom-font-size-01{
        font-size: 30px !important;
    }

    .custom-card-info-01 {
        padding: 25px !important;
    }

    .custom-popular-course-title > h2{
        width: 100% !important;
        font-size: 25px !important;
    }

    .custom-popular-course-title > p{
        width: 100% !important;
    }
}